<?xml version="1.0"?>
<launch>

  <machine
  name="beagle-droite"
  user="debian"
  password="temppwd"
  address="beagle-droite"
  env-loader="/home/debian/env-loader-yo.sh"
  />

  <machine
  name="beagle-gauche"
  user="debian"
  password="temppwd"
  address="beagle-gauche"
  env-loader="/home/debian/env-loader-yo.sh"
  />

  <machine
  name="popi-raspi"
  user="ubuntu"
  password="ubuntu"
  address="popi-raspi"
  env-loader="/home/ubuntu/env-loader-yo.sh"
  />

  
  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Load URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find popi_description)/xacro/popi.xacro'" />

  <group ns="popi">
    <!-- Load hardware interface -->
    <node name="popi_hardware_interface" pkg="popi_control" type="popi_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>

    <!-- Load controller settings -->
    <rosparam file="$(find popi_control)/popi_hw_interface/config/popi_controllers_reel.yaml" command="load"/>

    <!-- Load controller manager -->
    <node machine="popi-raspi" name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
	  output="screen" args="spawn joint_state_controller aileAVD_eff_position_controller epauleAVD_eff_position_controller coudeAVD_eff_position_controller aileAVG_eff_position_controller epauleAVG_eff_position_controller coudeAVG_eff_position_controller aileARD_eff_position_controller epauleARD_eff_position_controller coudeARD_eff_position_controller aileARG_eff_position_controller epauleARG_eff_position_controller coudeARG_eff_position_controller" />

    <!-- Convert joint states to /tf tranforms -->
    <node machine="popi-raspi" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


  </group>

</launch>
